{% extends 'site360/base.html' %}
<!DOCTYPE html>
<html>
<head>

</head>
<body>

{% block content %}
<!--Put all code in here!-->

     <br>
     <div style="background-color:#FFC2E0;color:black;padding:0.020px;">
          <h2>About Us</h2>
          </br>
     </div>
     <br> 
     <div>
     <div style ="background-color:#FFC2E0;color:black;padding: 0.12px;">
     <h3 style="text-align:left;">Krupa</h3>
          <img src = "profilepic.jpg" width = 120px height = 200px/>
     </div>
     
     <div>
     <div style ="background-color:#FFC2E0;color:black;padding: 0.12px;">
     <h3 style="text-align:left;">Mikaela</h3>
     </div>
     
     <div>
     <div style ="background-color:#FFC2E0;color:black;padding: 0.12px;">
     <h3 style="text-align:left;">Nelly</h3>
     </div>
     
     <div>
     <div style ="background-color:#FFC2E0;color:black;padding: 0.12px;">
     <h3 style="text-align:left;">Nory</h3>
     </div>
     
     
     
     
    


{% endblock %}

</body>
</html>
