{% extends 'site360/base.html' %}


<!DOCTYPE html>
<html>

<body>
{% block content %}
<style>
img.preview
{
  height: 25%;
  width: 25%;
}
</style>
  <br>
      <div style = "margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFC2E0;">
    <h2>Category: {{ category.capitalize }}</h2>
    </div>
    {% for product in products %}
       <a STYLE="text-decoration:none" href="/product/{{ product.name_to_url }}"><h2 style = "color:black">{{ product.name }}</h2></a>
      <img src="{{ product.image_url }}" alt="A picture of {{ product.name }}" width=10% height=10%/>
      <p><i><b>{{ product.company }}</b></i></p>
      {% if product.number_of_ratings == 1 %}
        <p><b>Average Number of Stars (out of 5):</b> {{ product.average_rating }} (based on 1 rating)</p>
      {% else %}
        <p><b>Average Number of Stars (out of 5):</b> {{ product.average_rating }} (based on {{ product.number_of_ratings }} ratings)</p>
      {% endif %}
      <p><b>Price:</b> ${{ product.price }} </p>
       <p style="background-color: #FF47A3; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lobster Two', cursive;
    margin: 4px 2px;"><a style = "color: white" href="/product/{{ product.name_to_url }}">Read more ></a></p>
      <br/>
    {% endfor %}
{% endblock %}
</body>
</html>
