{% extends 'site360/base.html' %}

{% block content %}
<p>
  {% if did_user_just_register %}
    You have successfully registered. Welcome to 360° Makeup, {{ user.username }}!
  {% elif user.is_authenticated %}
    Welcome back, {{ user.username }}!
  {% else %}
    You have logged out successfully.
  {% endif %}
</p>
<p><a href='/'>Return to home</a></p>
{% if user.is_authenticated %}
  <p><a href='/profile/{{ user.username }}/'>View profile</a></p>
{% else %}
  <p><a href='/login/'>Log in</a></p>
{% endif %}
{% endblock %}
