{% extends 'site360/base.html' %}

{% block content %}
<style>
  p{
    background-color: #FF47A3; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;"
    }
   </style>
<p style = "color:white">
  {% if did_user_just_register %}
    You have successfully registered. Welcome to 360° Makeup, {{ user.username }}!
  {% elif user.is_authenticated %}
    Welcome back, {{ user.username }}!
  {% else %}
    You have logged out successfully.
  {% endif %}
</p>
<p><a style = "color:white" href='/'>Return to home</a></p>
{% if user.is_authenticated %}
  <p ><a style = "color:white" href='/profile/{{ user.username }}/'>View profile</a></p>
{% else %}
  <p><a style = "color:white" href='/login/'>Log in</a></p>
{% endif %}
<br>
<img src="http://scbeautyhigh.files.wordpress.com/2013/10/clumps-mascara1.gif?w=500&h=213" style="float:center;width:400px;height:250px;">



{% endblock %}
