{% extends 'site360/base.html' %}
<html>
 {% block content %}
<head>

  <title> Your Profile </title>

  </head>

  <body>
   
   <h3>Your Profile</h3>
   
<script type= "text/javascript">
 $("#profileImage").click(function(e) {
    $("#imageUpload").click();
});

function previewProfileImage( uploader ) {   
    //ensure a file was selected 
    if (uploader.files && uploader.files[0]) {
        var imageFile = uploader.files[0];
        var reader = new FileReader();    
        reader.onload = function (e) {
            //set the image data as source
            $('#profileImage').attr('src', e.target.result);
        }    
        reader.readAsDataURL( imageFile );
    }
}

$("#imageUpload").change(function(){
    previewProfileImage( this );
});
 
 
</script>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="profile-container">
   <image id="profileImage" src="http://lorempixel.com/100/100" />
</div>
<input id="imageUpload" type="file" 
       name="profile_photo" placeholder="Photo" required="" capture>  
 
  <div id="profile-container">
   <image id="profileImage" src="aDefaultImage.png" />
</div>    
   
 </body>
 
<style>
 
   #imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
 }
 
#profile-container img {
    width: 150px;
    height: 150px;
}
 
 
  </style>
  {% endblock %}
</html>
