{% extends 'site360/base.html' %}

<html>
<head>

<meta name="viewport" content="width=device-width,initial-scale=1.0"/>

</head>
<body>
{% block content %}
<div id="wrapper">

<div class="form_div">
  <h2>Log in</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" style="background-color: #FF47A3
  ;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Lobster Two', cursive;
  margin: 4px 2px;
  cursor: pointer;">Log in</button>
</form>
</div>
<br>

<br>
<br>

</div>
</body>
<style>
</style>
{% endblock %}
</html>
