{% extends 'site360/base.html' %}

<html>
<head>

<meta name="viewport" content="width=device-width,initial-scale=1.0"/>

</head>
<body>
{% block content %}
<div id="wrapper">

<!--Login form-->
<div class="form_div">
<p class="form_label">LOGIN</p>
<form method="post" action="">
<p><input type="text" placeholder="Enter Email"></p>
<p><input type="password" placeholder="**********"></p>
<p><input type="submit" value="LOGIN"></p>
</form>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
</div>
<br>
<br>
<br>
<!--Signup form-->
<div class="form_div">
<p class="form_label">SIGNUP</p>
<form method="post" action="">
<p><input type="text" placeholder="Enter Name"></p>
<p><input type="text" placeholder="Enter Email"></p>
<p><input type="password" placeholder="**********"></p>
<p><input type="submit" value="SIGNUP"></p>
</form>
</div>

</div>
</body>
<style>

</style>
{% endblock %}
</html>
