{% extends 'site360/base.html' %}

{% block content %}
<!--Code goes here!-->

<div id="map" style="width:100%;height:500px"></div>

<script>
function myMap() {
  var myCenter = new google.maps.LatLng(37.773972,-122.431297);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom:13 };
  var map = new google.maps.Map(mapCanvas, mapOptions);
  
  /*coordinates*/
  var sephora1 = new google.maps.LatLng(37.7948, -122.3984);
  var cvs1 = new google.maps.LatLng(37.7917, -122.4226);
  var green1 = new google.maps.LatLng(37.765633,-122.419433);
  var sephora2 = new google.maps.LatLng(37.797141,-122.43354);
  var green2 = new google.maps.LatLng(37.768668,-122.435427);
  var green3 = new google.maps.LatLng(37.777109,-122.395241);
  var sephora3 = new google.maps.LatLng(37.784885,-122.408149);
  
  /*information when clicked*/
  google.maps.event.addListener(marker,'click',function() {
    var infowindow = new google.maps.InfoWindow({
      content:"Two Embarcadero Center, 2 Embarcadero Center, San Francisco, CA 94111, USA"
      });
      
  infowindow.open(map,marker);
  });
  google.maps.event.addListener(marker1,'click',function() {
    var infowindow = new google.maps.InfoWindow({
      content:"1700 Van Ness Ave, San Francisco, CA 94109, USA"
      });
  infowindow.open(map,marker1);
  });
  google.maps.event.addListener(marker2,'click',function() {
    var infowindow = new google.maps.InfoWindow({
      content:"1979 Mission St, San Francisco, CA 94103, USA"
    });
  infowindow.open(map,marker2);
  });   
  
  google.maps.event.addListener(marker3,'click',function() {
    var infowindow = new google.maps.InfoWindow({
      content:"2083 Union St, San Francisco, CA 94123, USA"
    });
  infowindow.open(map,marker3);
  });  
  
  google.maps.event.addListener(marker4,'click',function() {
    var infowindow = new google.maps.InfoWindow({
      content:"45 Castro St, San Francisco, CA 94114, USA"
    });
  infowindow.open(map,marker4);
  });  
  
  google.maps.event.addListener(marker5,'click',function() {
    var infowindow = new google.maps.InfoWindow({
      content:"670 4th St, San Francisco, CA 94107, USA"
    });
  infowindow.open(map,marker5);
  }); 
  
  google.maps.event.addListener(marker6,'click',function() {
    var infowindow = new google.maps.InfoWindow({
      content:"670 4th St, San Francisco, CA 94107, USA"
    });
  infowindow.open(map,marker6);
  }); 
  
  google.maps.event.addListener(marker7,'click',function() {
    var infowindow = new google.maps.InfoWindow({
      content:"28 Cyril Magnin St, San Francisco, CA 94102, USA"
    });
  infowindow.open(map,marker7);
  }); 
  
}
  
</script>

<!--library for the google maps-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTTvPumg4qzpm-oEmvCHishD6xsy80_oU&callback=myMap"></script>

{% endblock %}
