{% extends 'site360/base.html' %}


{% block content %}
<h1><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/985007-200.png" alt="Mountain View" style="width:23px;height:50px;">Tutorials For Makeup</h1>

<iframe width="560" height="315" style="text-align:right;" src="https://www.youtube.com/embed/bwuVuDzH3hY" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" float="right" src="https://www.youtube.com/embed/BuPZjBlmyD4" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315"  src="https://www.youtube.com/embed/95JXjGnBFGQ" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/KfQ0Ln7uX-I" frameborder="0" allowfullscreen></iframe>

{% endblock %}
