{% extends 'site360/base.html' %}


{% block content %}
<h1><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/985007-200.png" alt="" style="width:23px;height:50px;">Tutorials For Makeup</h1>

<h2><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/1075571-200.png" alt="" style="width:24px;height:30px;">Eyeshadow</h2>
<center>
<iframe width="400" height="215" float="right" src="https://www.youtube.com/embed/BuPZjBlmyD4" frameborder="0" allowfullscreen></iframe>
<iframe width="400" height="215"  src="https://www.youtube.com/embed/95JXjGnBFGQ" frameborder="0" allowfullscreen></iframe>
</center>

<h2><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/1099063-200.png"alt="" style="width:24px;height:30px;">Contour and Applying Foundation/Concealer</h2>
<center>
<iframe width="400" height="215" style="text-align:right;" src="https://www.youtube.com/embed/bwuVuDzH3hY" frameborder="0" allowfullscreen></iframe>
<iframe width="400" height="215" src="https://www.youtube.com/embed/aIF9YqdnA3c" frameborder="0" allowfullscreen></iframe>
</center>

<h2><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/831924-200.png"alt="" style="width:24px;height:30px;">Beginner Tutorials</h2>
<center>
<iframe width="400" height="215" src="https://www.youtube.com/embed/KfQ0Ln7uX-I" frameborder="0" allowfullscreen></iframe>
<iframe width="400" height="215" src="https://www.youtube.com/embed/-WlqBjKC0C8" frameborder="0" allowfullscreen></iframe>
</center>

{% endblock %}
